#page{
	position:absolute;
	top: 150px;
	left:50%;
	margin-left:-425px;
	width: 850px;
	height: 1100px;
	border: 1px solid black;
	background-color: #fff !important;
}

#page #droppedHeader{
	position:absolute;
	top:0;
	left:0;
	width:850px;
	height:300px;
	border-bottom:1px dashed #000;
}

#page #droppedHeader .message{
	position:absolute;
	top:50%;
	left:50%;
	height:150px;
	width:500px;
	margin: -75px 0px 0px -250px;
	background-color: rgba(100,100,100,0.4);
	border-radius:75px;
	text-align:center;
	line-height:75px;
	color: #fff;
	font-size:50px;
	font-weight:bold;
}

#page .droppedContent{
	position:absolute;
	left:0;
	border:1px dashed black;
	height:198px;
	width:198px;
	z-index:1;
	font-weight:normal;
}

#resizingOverlay{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	width:100%;
	height:100%;
	background-color: rgba(200,200,200,0.6);
	color: #444;
}

#resizingD{
	position:absolute;
	left:50%;
	top:50%;
	font-size:30px;
}
