#panel{
	position:fixed;
	top:0px;
	right:0px;
	margin-right:-500px;
	width:400px;
	height:100%;
	border-left:1px solid black;
	background-color:#fff;
	z-index:50;
}

#panel #panelContent{
	position:absolute;
	top: 125px;
	left: 25px;
	
}