#stylePopup{
	width:100%;
	height: 1300px;
	background-color: rgba(255,255,255,0.8);
	position:absolute;
	top:0;
	left:0;
	z-index: 1500;
	display:none;
}

#styler{
	position:absolute;
	top:50px;
	left: 50%;
	margin-left:-450px;
	border: 1px solid #aaa;
	border-radius: 15px;
	background: #fff;
	height: 1100px;
	width: 900px;
}

#styler h2{
	padding-left: 15px;
}

#styler #stylingForm{
	padding: 15px;
}

#styler #stylingForm div span{
	width: 100px;
	display:inline-block;
}